@import "bourbon"
@import "vars"

@media screen and (max-width: 1024px)
	.wrapper
		max-width: 1024px


@media screen and (max-width: 992px)
	.adv
		width: auto
		h2
			font-size: 25px
			line-height: 30px


@media screen and (max-width: 768px)
	header .middle
		margin: 10px 0

	header .right p,
	header .left p,
	.review-from
		margin-right: 0
		margin-left: 0

	.review-from
		margin-bottom: 20px
		button
			margin-top: 15px
		input,textarea
			margin-bottom: 15px

	.review
		margin-bottom: 30px
		p
			font-size: 18px
			line-height: 22px

	.main-box
		padding-left: 10px
		padding-right: 10px

	.adv
		display: none

@media screen and (max-width: 600px)
	.form-block,
	.congrat
		width: 100%

	.caption h2
		line-height: 55px
		
	.blog h2
		font-size: 40px
		line-height: 42px

@media screen and (max-width: 380px)
	.caption h2
		font-size: 40px
		line-height: 45px

	.social a
		margin-right: 5px
